---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=60ec79732bd957b4d0f8b67c30917789&lat=-25.5&lon=-25.5&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-25.5,"lat":-49.29},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"base":"stations","main":{"temp":274.501,"pressure":1012.19,"humidity":100,"temp_min":274.501,"temp_max":274.501,"sea_level":1012.38,"grnd_level":1012.19},"wind":{"speed":15.76,"deg":235.002},"clouds":{"all":36},"dt":1500770664,"sys":{"message":0.0029,"sunrise":1500801753,"sunset":1500833694},"id":0,"name":"","cod":200}'
  recorded_at: Sun, 23 Jul 2017 00:44:24 GMT
recorded_with: VCR 3.0.3
